html{
    box-sizing: border-box;
}

.portada{
    background: url(image/portada.jpg) no-repeat top fixed;
    background-size: cover;
    height: 100vh;
}
.texto-portada{
    display: block;
    position: relative;
    top: 100px;
    
}
.titulo-portada{
    font-size: 4rem;
    margin-bottom: 10px;
}
.p-portada{
    font-size: 1.5rem;
}
.card{
    box-shadow: 1px 1px 8px gray;
    margin: 30px;
}
.imagenCard{
    width: 280px;
    height: 280px;
    object-fit: scale-down;
}
.columna{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 763px){
    .card{
       margin: 20px 0px; 
    }
    .titulo-portada{
        font-size: 2rem;
    }
}
